name: On new release

on:
  release:
    types: [published]

jobs:
  upload-release-assets:
    runs-on: ubuntu-latest
    name: Upload release assets
    steps:
      - uses: actions/checkout@v4

      - name: Create artifact from dist folder
        run: zip -r release-files-dist-${{ github.ref_name }}.zip dist

      - name: Upload created artifact to release assets
        id: upload-assets
        uses: mkatanski/release-files-action@v1.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release-tag: ${{ github.ref_name }}
          file-path: release-files-dist-${{ github.ref_name }}.zip

  download-release-assets:
    runs-on: ubuntu-latest
    name: Download release assets
    needs: upload-release-assets
    steps:
      - uses: actions/checkout@v4

      - name: Download release assets
        id: download-assets
        uses: mkatanski/release-files-action@v1.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release-tag: ${{ github.ref_name }}
          file-path: downloaded-${{ github.ref_name }}.zip
          name: release-files-dist-${{ github.ref_name }}.zip
          mode: download

      - name: Upload zip as artifact
        uses: actions/upload-artifact@v2
        with:
          name: downloaded-${{ github.ref_name }}.zip
          path: downloaded-${{ github.ref_name }}.zip

      - name: List files
        run: ls -lh

      - name: Unzip downloaded file to test folder
        run: unzip downloaded-${{ github.ref_name }}.zip -d test
