name: On new release

on:
  release:
    types: [published]

jobs:
  test-job:
    runs-on: ubuntu-latest
    name: Test job which uses the action
    steps:
      - name: Create artifact from dist folder
        run: zip -r release-files-dist-${{ github.ref_name }}.zip dist

      - name: Upload created artifact to release assets
        id: upload-assets
        uses: ./
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release-tag: ${{ github.ref_name }}
          file: release-files-dist-${{ github.ref_name }}.zip
          name: release-files-dist-${{ github.ref_name }}.zip

      # Use the output from the `hello` step
      - name: Get the output
        run: |
          echo "The download url of asset is ${{ steps.upload-assets.outputs.download_url }}"
